.search-container {
    display: flex;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 50;         
    background: #0a0a0b;  
    padding: 0px 0 16px; 
  }

.search-bar-wrapper {
    flex: 1;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    pointer-events: none;
}
  
.search-input {
    width: 100%;
    padding: 12px 16px 12px 45px;
    background: #111113;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    font-size: 15px;
    color: #e8e8e8;
    transition: 0.2s ease;
}

.search-input:hover{
    outline: none;
    border-color: rgba(250, 78, 253, 0.5);
}
  
.search-input:focus {
    outline: none;
    border-color: #fa4efd;
}
  
.filter-btn {
    padding: 10px 20px;
    background: rgba(250, 78, 253, 0.05);
    color: rgba(250, 78, 253, 0.8);
    border-radius: 999px;
    border: 1px solid rgba(250, 78, 253, 0.3);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: border 0.25s ease, color 0.25s ease, background 0.25s ease;
}
  
.filter-btn:hover {
    border-color: #fa4efd;
    color: #fa4efd;
    background: rgba(250, 78, 253, 0.15);
}